@charset "UTF-8";
/* CSS Document */

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* start Superstore CSS from here on */

a { text-decoration: none; }

h3 { 
	color: #fff;
	background-color: #ee2d24;
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 1px;
}

.header-logo {
	height: 30px;
}

.searchField {
    margin-top: .5em; 
    width: 100%; 
    overflow: hidden;
}

.item_thumb {
	width: 4em;
	height: auto;
	float: left;
	margin-bottom: .3em;
	margin-right: .8em;
	position: relative;
	top: 0;
	left: 0;
}

#searchBarDiv {
	background-color: rgba(1,103,178,1);
	padding: 4px 5px 0px 6px;
	margin-top: 25px;
	color: #000;
}

.resultsItem {
	font-size: 1.2em;
	letter-spacing: .5px;
	height: 100px;
	width: 100%;
	line-height: 19px;
}

.itemPrice {
	font-size: 1em;
	color: #0167b2;	
	float: right;
	font-weight:  bold;
	margin-right: 1em;
}

.itemPictureDiv {
	position: relative;
	left:0;
	top: 0;
}

.saleSticker {
	position: absolute; 
	top: 36px; 
	left: 0px; 
	height: 2em;
}

.itemBrand {
	/*color: #595959;*/
	color: #000;
	font-weight: 200;
	font-size: 1.1em;	
	/* letter-spacing: -1px; */
	/* letter-spacing: -1px; */
	padding-bottom: 2px;
	font-family: Helvetica, sans-serif;
}

.nameItem {
	color: #000;
	font-size: .8em;	
	letter-spacing: 2px;
	line-height: 13px;
	font-weight: 600;
	margin-top: 2px;
	text-transform: uppercase;
}

.location_svg {
	height: 1em;
	width: auto;
	padding-right: 5px;	
}

.locationDiv {
	color: #EF2C23;
	margin-top: 4px;	
	font-size: .8em;
	font-weight: bold;
}

.itemLink {
	display: block;
}

.bigItemPic {
	max-width: 70%;
	max-height: 400px;
	display: block;
	margin: 2em auto 0 auto;
}

.textCenter{
	text-align: center;
}

.upper{
	text-transform: uppercase;	
}

.bigItemBrand {
	font-size: 2em;
	font-weight: 500;	
	padding-top: 15px;
	/*color: #53575E;*/
	color: #000;
}

.bigItemName {
	text-transform: capitalize;
	font-size: 1.2em;
	padding-top: 5px;
	color: #000;
}

.bigLocationDiv {
	background-color: rgb(238, 45, 36);
	color: #fff;
	font-size: 1.3em;
	padding: .9em;
	margin: .5em .5em 0 .5em;
	text-align: center;
}

.bigLocation {
	height: 1.2em;
	padding-right: 10px;
	vertical-align: middle;
}

#grayedOutPanel {
	position:absolute; 
	top:0; 
	left:0; 
	height:100%; 
	width:100%;
	padding:0;
}

img.dedicatedMap {
	position:absolute; 
	top:0; 
	left:0; 
	height:93%; 
	width:100%;
}

img.full-map {
	position:absolute; 
	top:0; 
	left:0; 
	height:93%; 
	width:100%;
}

#modalContainer > div {
	width: 100%;
	height: 100%;
	padding:0;
	margin: 0;
}

.itemDetails {
	color: #000;
	font-size: 1.4em;
	margin: .5em .5em 0 .5em;
	line-height: 200%;
}

.itemDetails img {
	height: 30px;
	vertical-align: middle;
	padding-right: 8px;
}

#grayedOutPanel {
	background-color: #000;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}


.errorMap {
	text-align: center;
	color: #FF4A4D;
	background-color: #fff;
	padding: 1em;
}