@charset "UTF-8";
/* CSS Document */

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers*/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/* start Superstore CSS from here on */

a { text-decoration: none; }

.searchField {
    margin-top: .5em; 
    width: 100%; 
    overflow: hidden;
}

.item_thumb {
	width: 5em;
	height: auto;
	float: left;
	margin-bottom: .3em;
	margin-right: .8em;
}

#searchBarDiv {
	background-color: rgba(1,103,178,1);
	margin: 0px -10px;
	padding: 4px 5px 0px 6px;
}

.resultsItem {
	font-size: 1.2em;
	letter-spacing: .5px;
	height: 100px;
	width: 100%;
}

.itemPrice {
	font-size: 1.1em;
	color: rgb(238,45,36);	
	float: right;
	margin-right: 1em;
}

.itemBrand {
	/*color: #595959;*/
	color: #000;
	font-weight: 500;
	font-size: 1.2em;	
	padding-bottom: 2px;
}

.nameItem {
	color: #000;
	font-size: .9em;	
	margin-top: 2px;
	text-transform:capitalize;
}

.location_svg {
	height: 1em;
	width: auto;
	padding-right: 5px;	
}

.locationDiv {
	color: #EF2C23;
	margin-top: 4px;	
}

.itemLink {
	display: block;
}

.bigItemPic {
	max-width: 70%;
	max-height: 400px;
	display: block;
	margin: 2em auto 0 auto;
}

.textCenter{
	text-align: center;
}

.upper{
	text-transform: uppercase;	
}

.bigItemBrand {
	font-size: 2em;
	font-weight: 500;	
	padding-top: 15px;
	color: #53575E;
}

.bigItemName {
	text-transform: capitalize;
	font-size: 1.2em;
	padding-top: 5px;
	color: #53575E;
}

.bigLocationDiv {
	background-color: rgb(238, 45, 36);
	color: #fff;
	font-size: 1.3em;
	padding: .9em;
	margin: .5em .5em 0 .5em;
}

.bigLocation {
	height: 1.2em;
	padding-right: 10px;
	vertical-align: middle;
}

.map {
	display: block;
	height: 500px;
	margin: 0 0 -10px -10px;
}

.itemDetails {
	color: #53575E;
	font-size: 1.4em;
	margin: .5em .5em 0 .5em;
	line-height: 200%;
}

.itemDetails img {
	height: 30px;
	vertical-align: middle;
	padding-right: 8px;
}